* {

    margin: 0;
    padding: 0;

}

#divUno {

    font-size: clamp(2rem, 2vw, 4rem);
    font-weight: 500;
    height: 25vh;
    display: flex;
    align-items: center;

}

#divDos {

    background-color: rgb(51, 223, 45);
    height: 25vh;
    display: flex;
    align-items: center;
    color: rgb(255, 218, 7);

}

#divDos p:first-child {

    font-size: clamp(4rem, 4vw, 8rem);
    font-weight: 700;

}

#divDos p:last-child {

    font-size: clamp(1.5rem, 2vw, 3rem);


}

#divTres {
    font-size: clamp(1rem, 2vw, 1.5rem);
    height: 25vh;
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 5vw;
    padding-right: 5vw;


}

#divCuatro {

    background-color: rgb(4, 82, 112);
    font-size: clamp(1.25rem, 2vw, 2rem);
    height: 15vh;
    color: rgb(255, 218, 7);
    display: grid;
    align-items: center;

}